.DS_Store
node_modules/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
*.x.*
*.ignore
*.ignore.*
*.ignore/
!.gitkeep
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
requests.log
coverage.lcov
.coveralls.yml